@import 'global';
@import 'variables';

.container{
    width: 60%;
    height: 500px;
    // border: 1px solid black;
    
    form{
        width:70%;
        margin: 0 auto;


        #searchTerm{
            width: 70%;
            border: none;
            color: black;
            font-family: $ff-mont;
            padding: .8rem 1rem;
        }
        button{
            font-family: $ff-mont;
            padding: .8rem 2rem;
            border: none;
            border-radius: 3px;
            margin-left: .8rem;
            color: #E0E3E3;
            background: #28413E;
        }
    }
    .display{
        margin-top: 4rem;
        display: flex;
        justify-content: space-between;
        .temp-text{
            font-size: 5rem;
            font-weight: 500;
            color: #E0E3E3;
        }
        ul{
            width: 50%;
            li{
                display: flex;
                justify-content: space-between;
                .desc{
                    color: #fff;
                }
            }
        }
    }

}
