@import 'global';
@import 'variables';

.container{
    width: 60%;
    height: 500px;
    // border: 1px solid black;
    
    form{
        // border: 1px solid black;

        #searchTerm{
            width: 50%;
            border: none;
            color: black;
            font-family: $ff-mont;
            padding: .8rem 1rem;
        }
        button{
            font-family: $ff-mont;
            padding: .8rem 2rem;
            border: none;
            border-radius: 3px;
            margin-left: .8rem;
            color: #E0E3E3;
            background: #28413E;
        }
    }
    .display{
        border: 1px solid black;
    }

}
